@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";


@theme {
  --color-primary: #111111;
  --color-secondary: #666666;
  --color-accent: #FF3B30;
  --color-surface: #FFFFFF;
  --color-background: #FAFAFA;

  --font-sans: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@layer base {
  body {
    @apply antialiased text-gray-900 bg-white;
  }
}
